<script type="text/javascript">
    RED.nodes.registerType('toolbox',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            algorithm: {value:""},
            extraargs: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "icons/toolbox.png",
        label: function() {
            if (!this.name)
                return "toolbox function";
            else
                return this.name+": Toolbox/"+this.algorithm;
        }
    });
</script>

<script type="text/html" data-template-name="toolbox">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
        <label for="node-input-algorithm"><i class="fa fa-tag"></i> Algorithmus:</label>
        <select name="node-input-algorithm" id="node-input-algorithm">
            <optgroup label="Examples">
                <option value="ml4proflow.modules_extra.PassThroughModule">Passthrough</option>
                <option value="ml4proflow.modules_extra.AggregateModule">Aggregate</option>
            </optgroup>
            <optgroup label="AMiRo">
                <option value="ml4proflow_mods.amiro.modules.AmiroModule">Connector</option>
            </optgroup>
            <!--
            <optgroup label="Segmentation">
                <option value="ukf">Periodiziätenerkennung</option>
            </optgroup>
            <optgroup label="Klassifikation"</optgroup>
                <option value="data_segmentation">Hybride Parameterschätzung</option>
                <option value="autoencoder">Autoencoder</option>
            </optgroup>
            <option value="Toolboxverbinder">Toolboxverbinder</option> -->
        </select>
        <label for="node-input-extraargs"><i class="fa fa-tag"></i> Optionen</label>
        <input type="text" id="node-input-extraargs" placeholder="">
    </div>
</script>

<script type="text/html" data-help-name="toolbox">
    <p>Toolbox function</p>
</script>